services:
  museum-backend:
    container_name: museum.backend
    build:
      dockerfile: Dockerfile
    hostname: museum.backend
    environment:
      POSTGRES_HOST: "museum.postgres"
      POSTGRES_USERNAME: "postgres"
      KEYCLOAK_URL: "museum.keycloak:8081"
      KEYCLOAK_CLIENT_SECRET: "AAWz8ocDDHnNINz3zLeTHUIGgj4b5Jbt"
      KEYCLOAK_PROTOCOL: "https"
      TZ: "Asia/Yekaterinburg"
    secrets:
      - pg_password
    volumes:
      - ./images:/app/images
    ports:
      - "8080:8080"
    networks:
      - museum_backend
    depends_on:
      - postgres

  postgres:
    container_name: museum.postgres
    image: postgres:16.2-alpine3.19
    hostname: museum.postgres
    restart: always
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_password
      PGDATA: "/var/lib/postgresql/data/pgdata"
      TZ: "Asia/Yekaterinburg"
    volumes:
      - ./db/init-scripts:/docker-entrypoint-initdb.d
      - ./db/data:/var/lib/postgresql/data
    secrets:
      - pg_password
    ports:
      - "6432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    networks:
      - museum_backend

  keycloak:
    container_name: museum.keycloak
    image: bitnami/keycloak:24.0.3
    hostname: museum.keycloak
    environment:
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "admin1"
      KEYCLOAK_ENABLE_STATISTICS: "true"
      KEYCLOAK_ENABLE_HEALTH_ENDPOINTS: "true"
      KEYCLOAK_HTTP_PORT: "8081"
      KEYCLOAK_HOSTNAME: "keycloak.waranim.xyz"
      KEYCLOAK_PROXY_HEADERS: "x-forwarded-fo, x-forwarded-proto"
      KEYCLOAK_EXTRA_ARGS: "--proxy=edge"
      KEYCLOAK_DATABASE_HOST: "museum.postgres"
      KEYCLOAK_DATABASE_USER: "postgres"
      KEYCLOAK_DATABASE_NAME: "keycloak"
      KEYCLOAK_DATABASE_PASSWORD: "museum1"
      TZ: "Asia/Yekaterinburg"
    ports:
      - "8081:8081"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    networks:
      - museum_backend

secrets:
  pg_password:
    file: ./db/secrets/password.txt

networks:
  museum_backend:
    driver: bridge