spring:
  profiles:
    active: dev

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        order_updates: true
        jdbc:
          lob:
            non_contextual_creation: true
          time_zone: UTC

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB_NAME:museum}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:postgres}

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

app:
  name: Museum